<!DOCTYPE html>

<html>
    <head>
        <title>Groxy</title>
        <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/default.css" />
    </head>
    <body>
        <div class="container">

            <div class="row">
                <div class="span12">
                    <h1>Groxy <span>Gmail Proxy</span></h1>
                </div>
            </div>

            <div class="row">
                <div class="span12">

                    <h2>Search Gmail</h2>

                    <form method="get" action="/api/messages" class="form-horizontal">

                        <div class="control-group">
                            <label class="control-label">Email:</label>
                            <div class="controls">
                                <input type="text" name="email" value="boxuk1@yates-assoc.com" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Access Token:</label>
                            <div class="controls">
                                <input type="text" name="access_token" value="" />
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Query:</label>
                            <div class="controls">
                                <input type="text" name="query" value="" />
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <input type="submit" class="btn btn-primary" value="Search Gmail" />
                            </div>
                        </div>

                    </form>

                </div>

            </div>

        </div>
    </body>
</html>
